*{
    margin: 0;
    padding: 0;
}
#hero{
    height: 100vh;
    background-image: url('./felix-rostig-UmV2wr-Vbq8-unsplash.jpg');
    background-position: center;
    background-size: cover;
}
h2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10rem;
    color: white;
}